@import url('http://fonts.googleapis.com/css?family=Six+Caps');

@import url('http://fonts.googleapis.com/css?family=Arvo');

@import url('http://fonts.googleapis.com/css?family=Enriqueta');
/*---------------------------------------------------
LESS Elements 0.6
---------------------------------------------------
A set of useful LESS mixins by Dmitry Fadeyev
Special thanks for mixin suggestions to:
Kris Van Herzeele,
Benoit Adam,
Portenart Emile-Victor,
Ryan Faerman

More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  min-width: 100px;
}
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12,
.push_13,
.pull_13,
.push_14,
.pull_14,
.push_15,
.pull_15,
.push_16,
.pull_16 {
  position: relative;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.container_16 .grid_1 {
  width: 40px;
}
.container_16 .grid_2 {
  width: 100px;
}
.container_16 .grid_3 {
  width: 160px;
}
.container_16 .grid_4 {
  width: 220px;
}
.container_16 .grid_5 {
  width: 280px;
}
.container_16 .grid_6 {
  width: 340px;
}
.container_16 .grid_7 {
  width: 400px;
}
.container_16 .grid_8 {
  width: 460px;
}
.container_16 .grid_9 {
  width: 520px;
}
.container_16 .grid_10 {
  width: 580px;
}
.container_16 .grid_11 {
  width: 640px;
}
.container_16 .grid_12 {
  width: 700px;
}
.container_16 .grid_13 {
  width: 760px;
}
.container_16 .grid_14 {
  width: 820px;
}
.container_16 .grid_15 {
  width: 880px;
}
.container_16 .grid_16 {
  width: 940px;
}
.container_16 .prefix_1 {
  padding-left: 60px;
}
.container_16 .prefix_2 {
  padding-left: 120px;
}
.container_16 .prefix_3 {
  padding-left: 180px;
}
.container_16 .prefix_4 {
  padding-left: 240px;
}
.container_16 .prefix_5 {
  padding-left: 300px;
}
.container_16 .prefix_6 {
  padding-left: 360px;
}
.container_16 .prefix_7 {
  padding-left: 420px;
}
.container_16 .prefix_8 {
  padding-left: 480px;
}
.container_16 .prefix_9 {
  padding-left: 540px;
}
.container_16 .prefix_10 {
  padding-left: 600px;
}
.container_16 .prefix_11 {
  padding-left: 660px;
}
.container_16 .prefix_12 {
  padding-left: 720px;
}
.container_16 .prefix_13 {
  padding-left: 780px;
}
.container_16 .prefix_14 {
  padding-left: 840px;
}
.container_16 .prefix_15 {
  padding-left: 900px;
}
.container_16 .suffix_1 {
  padding-right: 60px;
}
.container_16 .suffix_2 {
  padding-right: 120px;
}
.container_16 .suffix_3 {
  padding-right: 180px;
}
.container_16 .suffix_4 {
  padding-right: 240px;
}
.container_16 .suffix_5 {
  padding-right: 300px;
}
.container_16 .suffix_6 {
  padding-right: 360px;
}
.container_16 .suffix_7 {
  padding-right: 420px;
}
.container_16 .suffix_8 {
  padding-right: 480px;
}
.container_16 .suffix_9 {
  padding-right: 540px;
}
.container_16 .suffix_10 {
  padding-right: 600px;
}
.container_16 .suffix_11 {
  padding-right: 660px;
}
.container_16 .suffix_12 {
  padding-right: 720px;
}
.container_16 .suffix_13 {
  padding-right: 780px;
}
.container_16 .suffix_14 {
  padding-right: 840px;
}
.container_16 .suffix_15 {
  padding-right: 900px;
}
.container_16 .push_1 {
  left: 60px;
}
.container_16 .push_2 {
  left: 120px;
}
.container_16 .push_3 {
  left: 180px;
}
.container_16 .push_4 {
  left: 240px;
}
.container_16 .push_5 {
  left: 300px;
}
.container_16 .push_6 {
  left: 360px;
}
.container_16 .push_7 {
  left: 420px;
}
.container_16 .push_8 {
  left: 480px;
}
.container_16 .push_9 {
  left: 540px;
}
.container_16 .push_10 {
  left: 600px;
}
.container_16 .push_11 {
  left: 660px;
}
.container_16 .push_12 {
  left: 720px;
}
.container_16 .push_13 {
  left: 780px;
}
.container_16 .push_14 {
  left: 840px;
}
.container_16 .push_15 {
  left: 900px;
}
.container_16 .pull_1 {
  left: -60px;
}
.container_16 .pull_2 {
  left: -120px;
}
.container_16 .pull_3 {
  left: -180px;
}
.container_16 .pull_4 {
  left: -240px;
}
.container_16 .pull_5 {
  left: -300px;
}
.container_16 .pull_6 {
  left: -360px;
}
.container_16 .pull_7 {
  left: -420px;
}
.container_16 .pull_8 {
  left: -480px;
}
.container_16 .pull_9 {
  left: -540px;
}
.container_16 .pull_10 {
  left: -600px;
}
.container_16 .pull_11 {
  left: -660px;
}
.container_16 .pull_12 {
  left: -720px;
}
.container_16 .pull_13 {
  left: -780px;
}
.container_16 .pull_14 {
  left: -840px;
}
.container_16 .pull_15 {
  left: -900px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font-family: 'Arvo', serif;
  font-size: 14px;
  line-height: 20px;
  background: url('../images/bg2/bg01.png') repeat fixed;
  opacity: 0.99;
  color: #331a0f;
  border-top: 2px solid #331a0f;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
.align-center {
  text-align: center;
}
/*---text---*/
a {
  text-decoration: none;
  color: #331a0f;
}
a:hover,
a.active {
  color: #ba4b3c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  text-align: center;
}
h2 {
  font-family: 'Six Caps', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 120px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  /*margin-top: 400px;*/

}
h3 {
  font-family: 'Arvo', serif;
  font-size: 25px;
  line-height: 40px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
p {
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
/*---blocks space---*/
section {
  padding-bottom: 130px;
}
section#social {
  margin-bottom: 0;
}
/*---logo---*/
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*---menu---*/
#slider-container {
  display: block;
  background: url(../images/bg2/menu_bg2.png);
  -webkit-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
}
.slider-button {
  font-family: 'Arvo', serif;
  font-size: 100px;
  line-height: 100px;
  color: #d9d5cc;
  text-shadow: 1px 1px 0 #000;
}
.sticky {
  position: fixed;
  top: 88px;
  animation: thedrop 1s 1;
  -moz-animation: thedrop 1s 1;
  -webkit-animation: thedrop 1s 1;
}
.sticky .nav-above {
  position: absolute;
  top: -88px;
  left: 1em;
  right: 1em;
  height: 88px;
  background: linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 80%);
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
header div.nav-container {
  top: 300px;
  width: 100%;
  position: absolute;
}
header nav {
  left: 0;
  right: 0;
  top: 0px;
  z-index: 42;
  display: block;
  position: relative;
  font-family: 'Six Caps', sans-serif;
  text-align: center;
}
header #main-menu {
  border-top: 4px double #331a0f;
  border-bottom: 4px double #331a0f;
  background: url('../images/bg2/menu_bg2.png') repeat;
  z-index: 1000;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
}
header #main-menu li {
  position: relative;
  display: inline-block;
  text-align: left;
}
header #main-menu li > a {
  position: relative;
  display: inline;
  padding: 15px 10px;
  margin: 0 5px;
  color: #eeddaa;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 80px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header #main-menu li:hover > a,
header #main-menu li.active > a,
header #main-menu li.selected > a {
  position: relative;
  color: #000;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 0px 0px -5px rgba(0,0,0,.2), 0 0 0 1px rgba(255,255,255,0.2)inset;
  -moz-box-shadow: -10px 0px 0px -5px rgba(0,0,0,.2), 0 0 0 1px rgba(255,255,255,0.2)inset;
  box-shadow: -10px 0px 0px -5px rgba(0,0,0,.2), 0 0 0 1px rgba(255,255,255,0.2)inset;
  background: url('../images/bg2/menu_bg2.png') repeat;
  z-index: 10;
}
header #main-menu li:hover:before,
header #main-menu li.active:before,
header #main-menu li.selected:before {
  position: absolute;
  display: block;
  top: -13px;
  left: 0;
  content: '';
  border: 5px solid transparent;
  border-bottom-color: #519994;
}
header #main-menu li:hover:after,
header #main-menu li.active:after,
header #main-menu li.selected:after {
  position: absolute;
  display: block;
  bottom: -13px;
  left: 0;
  content: '';
  border: 5px solid transparent;
  border-top-color: #519994;
}
html.ie #main-menu li {
  display: inline;
}
/*---slider ---*/
.ei-slider {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: -14px;
  padding-top: 20px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
}
.ei-slider-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  color: #000;
  text-align: center;
  line-height: 400px;
}
.ei-slider-large {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
}
.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
}
.ei-slider-thumbs {
  height: 10px;
  background: url(../images/bg2/menu_bg.png);
  margin: 0 auto;
  position: relative;
  border: 2px dotted #ba4b3c;
  -webkit-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.8);
}
.ei-slider-thumbs li {
  position: relative;
  list-style: none;
  float: left;
  width: 100%;
  height: 100%;
}
.ei-slider-thumbs li.ei-slider-element {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  z-index: 10;
  text-indent: -9000px;
  background: url(../images/bg2/menu_bg2.png);
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.ei-slider-thumbs li a {
  display: block;
  text-indent: -9000px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.ei-slider-thumbs li a:hover {
  background: #519994;
}
.ei-slider-thumbs li img {
  position: absolute;
  bottom: 100px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img {
  opacity: 1;
  bottom: 25px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.ei-title {
  position: absolute;
  right: 0px;
  margin-right: 0px;
  width: 100%;
  text-align: left;
  top: auto;
  bottom: 10px;
}
.ei-title h2,
.ei-title h3 {
  text-align: left;
  margin-left: 20px;
}
.ei-title h2 {
  font-size: 50px;
  color: #ba4b3c;
  line-height: 50px;
}
.ei-title h3 {
  font-size: 20px;
  color: #ba4b3c;
  line-height: 20px;
}
#about {
  padding-top: 50px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
/*---profile pic---*/
.profile {
  position: relative;
  display: block;
  width: 200px;
  height: 600px;
  background: url(../images/profile.png) no-repeat;
}
/*---about first text---*/
blockquote {
  color: #ba4b3c;
  text-align: left;
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px 0;
  border-top: 3px dotted #331a0f;
  border-bottom: 3px dotted #331a0f;
  -webkit-box-shadow: 0 1px 0px rgba(255,255,255,.5), 0 1px 0px rgba(255,255,255,.5) inset;
  -moz-box-shadow: 0 1px 0px rgba(255,255,255,.5), 0 1px 0px rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 0px rgba(255,255,255,.5), 0 1px 0px rgba(255,255,255,.5) inset;
}
#skills {
  padding-top: 25px;
}
.skills h3 {
  font-size: 60px;
  text-align: left;
  color: #331a0f;
}
.skills h4 {
  font-size: 35px;
  text-align: left;
  color: #ba4b3c;
}
.skills .progress {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 18px;
  box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.5);
  border: 1px dotted #331a0f;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.skills .progress .bar {
  position: relative;
  display: block;
  width: 0%;
  height: 100px;
  background: url(../images/bg2/menu_bg2.png);
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
}
/*---gallery filter---*/
.filter {
  display: block;
  border-top: 1px solid #331a0f;
  border-bottom: 1px solid #331a0f;
  margin-bottom: 20px;
  background: url(../images/up2.png) no-repeat;
  text-align: center;
  padding: 15px 0;
}
.filter > li {
  display: inline;
  display: inline-block;
}
.filter > li > a {
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 10px;
}
/*---portfolio gallery---*/
.gallery > li {
  list-style-type: none;
  float: left;
}
.gallery .thumb {
  position: relative;
  display: block;
  margin: 5px;
  padding: 1px;
  height: 215px;
  width: 215px;
  line-height: 215px;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid  #fff;
  background: url(../images/thumb_over.png);
  color: #888;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/*---contact---*/
input {
  color: #eeddaa;
  text-transform: uppercase;
}
.contact {
  margin: 5px;
  border-top: 4px double #331a0f;
}
.contact #name {
  margin: 10px;
  width: 250px;
  background: none;
  border: none;
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: #ba4b3c;
  border: 1px dotted #331a0f;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.contact #email {
  margin: 10px;
  width: 250px;
  font-family: 'Arvo', serif;
  background: none;
  border: none;
  font-size: 20px;
  color: #ba4b3c;
  border: 1px dotted #331a0f;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.contact #title {
  margin: 10px;
  width: 250px;
  font-family: 'Arvo', serif;
  background: none;
  border: none;
  font-size: 20px;
  color: #ba4b3c;
  border: 1px dotted #331a0f;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.contact textarea {
  margin: 10px;
  height: 300px;
  width: 660px;
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: #ba4b3c;
  border: 1px dotted #331a0f;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.8);
}
.contact #send {
  position: relative;
  margin: -13px;
  width: 150px;
  height: 70px;
  background: #331a0f;
  border: none;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Arvo', serif;
  font-size: 40px;
  line-height: 40px;
  color: #eeddaa;
  float: right;
  margin-right: 12px;
  margin-bottom: -35px;
}
.contact #send:hover {
  color: #ba4b3c;
}
/*---skills---*/
.skillspic {
  position: relative;
  display: block;
  width: 400px;
  height: 600px;
  margin-left: 600px;
  background: url(../images/skills2.png) no-repeat;
}
/*---locomotive foot logo---*/
.locomotive {
  position: relative;
  display: block;
  top: 80px;
  width: 200px;
  height: 200px;
  background: url(../images/locomotive.png);
}
/*---social---*/
#social {
  background: url(../images/bg2/menu_bg.png);
  border-top: 2px dotted #eeddaa;
}
.social {
  position: relative;
  margin-top: 50px;
}
.social > ul {
  display: block;
}
.social > ul > li {
  list-style-type: none;
  position: relative;
  display: inline;
  display: inline-block;
  margin: 20px;
  text-indent: -9999px;
  width: 62px;
  height: 62px;
  background: transparent url(../images/sprite.png) 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.social > ul > li > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.social .google {
  background-position: -20px -20px;
}
.social .google:hover {
  background-position: -20px -100px;
}
.social .flickr {
  background-position: -100px -20px;
}
.social .flickr:hover {
  background-position: -100px -100px;
}
.social .twitter {
  background-position: -180px -20px;
}
.social .twitter:hover {
  background-position: -180px -100px;
}
.social .dribble {
  background-position: -262px -20px;
}
.social .dribble:hover {
  background-position: -262px -100px;
}
.social .behance {
  background-position: -342px -20px;
}
.social .behance:hover {
  background-position: -342px -100px;
}
.social .facebook {
  background-position: -422px -20px;
}
.social .facebook:hover {
  background-position: -422px -100px;
}
